.aspIcons {
    text-align: center;
    min-height: 70px;
    max-height: 70px;
    padding: 20px 0;
    font-size :14px;
    border-color: transparent;
    border-radius: 13px 13px 13px 13px;
    /*margin-bottom: 4px;*/

}

.rowASP {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

card {
    min-height: 90% !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .16), 0 0 0 0 rgba(0, 0, 0, .12) !important;
}

.firstRow {
    margin-left: 0;
    margin-right: 0;
    background-color: #F3F4F9;
}

.headerRow {
    width: 100% !important;
}