body{
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    font-size: 16px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td{
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
    
}
p{
    font-size: 16px;
    line-height: 1.4em;
}
.center-div {
    width: 75%;
    margin: 0 auto;
}

.sdgs-center-div {
    /* margin: 0 auto; */
    margin-left: 15%;
    margin-right: 8%;
}

.sdgIcons {
    margin-bottom: 4px !important;
    width: 120%;
    height: 100%;
}

.mainFooter {
    background-color: grey;
    margin-bottom: 0 !important;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* SDG Menu Icons */
.sdgMenuIcons {
    width: 80px;
    height: 80px;
    margin-bottom: 2px;
}

.sdgContainer {
    margin-left: 50px;
    background-color: #F0F0F0;
}

.sdgSectionIcons {
    width: 120%;
    height: 100%;
    margin-left: -15px;

}
.breadcrumb-item + .breadcrumb-item::after {
    content: ">";
}
.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item> activex {
    content: "";
}
.breadcrumb-item{
    float: right;
    font-size: 15px;
}
.breadcrumb{
    background-color: transparent;
    margin-right: 1.5%;
}

/* Input range */
input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }

  input[type=range]:active,
  input[type=range]:focus {
    outline: 0;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 7px;
    border-radius: 6px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 7px;
    border-radius: 6px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 18px;
    width: 7px;
    border-radius: 6px;
    background: #A1D0FF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;
    }
  