	<div>
			<img src="../assets/img/banner.png" width="100%">
	</div>
	<p style="text-align: center;font-size:16px;color: black;">
		For general and media enquiries write to: <a href="mailto:africasdgindex@sdgcafrica.org">africasdgindex@sdgcafrica.org</a>
	</p>
	<p style="text-align: center;font-size:36px;">

		<a href="https://twitter.com/sdgcafrica" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.facebook.com/SDGCAfrica" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.youtube.com/channel/UCf-dFkCW1W0g2CVDAZfLMAw" target="_blank"><i class="fa fa-youtube"></i></a>
		
	</p>